{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Encryptor | GENRYPTOR</title>
    <link rel="stylesheet" href="{% static 'encryptor.css' %}">
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <div class="header">
            <h1>GENRYPTOR</h1>
        </div>

        <!-- Form -->
        <form action="" method="post" class="gen">
            {% csrf_token %}

            <!-- Account to which password belongs -->
            <input type="text" name="acct" id="acct" class="inp acct" placeholder="Account(Ex: Gmail, Twitter etc...)"  required>

            <!-- password to be encrypted -->
            <input type='password' name="passwd" id="passwd" class="inp encryption" placeholder="Password to be Encrypted"  required>

            <!-- Secret Key -->
            <input type='password' name="secret-key" id="secret-key" class="inp secret" placeholder="Secret Key | IMPORTANT - DO NOT FORGET"  required>

            <!-- encrypted password -->
            <div class="passwd" data-text = "Generated Password will appear here">
                <p>{{encryption}}</p>
            </div>

            <!-- encrypt button -->
            <input type="submit" value="Encrypt Password" class="encrypt_b">
        </form>

        <!-- Decrypt Link -->
        <div class="encrypt">
            <a href="{% url 'decryptor' %}">Decrypt Password</a>
        </div>

        <!-- Generator Link -->
        <div class="generator">
            <a href="{% url 'home' %}">Generate Password</a>
        </div>

        <div class=" btn pass-list">
            <a href="{% url 'pass-list' %}">View all Passwords</a>
        </div>
		
	</div>

</body>
</html>